

BODY { 
    
    font: sans-serif;
    font-size: large;
    text-align:justify;
    height: 100%;
    padding-bottom: 5%;
}


header {
    height: 135vh;
    color: black;
    text-align: left;
    background-image: url(profilepic.jpg);
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; 
    position: relative;
}

img { 
    border: 10px solid #01383a;
    color:blueviolet; 
    background-color: #f6f3f1;
}

.wrapper {
    width: 100%;
    position:static;    
    margin-left: 0.5%;
    top: 20%;
    left:0;
}

.Name{
    text-align: left;
    margin-left: 0.5%;
    font-weight: bold;
    font-size: 90px;
    margin-bottom: 5px;
}


.desc{
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 600px;
    margin-left: 2%;   
}


nav ul {    
    justify-content: center;
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

h1,h2,h3{ 
    color: #01383a;
    text-align: center;
    font: serif;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 15%;
    margin-right: 15%;    
}

P{
    font: sans-serif;    
    color: #000000
}

nav li a {
    display: block;
    color: rgb(112, 149, 157);
    text-align: center;
    padding: 16px 18px;
}

nav li a:hover {
    background-color: #01383a;
    color: white;
}

         




.Info {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    font-size: 18px;
}

.Highlights { 
    float: right;
    width: 30%;
    font-size: large;
    margin-right: 2%;
    text-align: center;
    background-color: rgb(155, 195, 195);
    }


ul {
    list-style-type: unset;
    text-align: left;
    margin-left: 0;    
}


footer {
    background-color: #01383a;
    text-decoration-color: #f1f3f3;
}

 

a:link { color: rgb(112, 149, 157);}
a:active { color: #f8f3ef;} 